#form-searcher{
    display: flex;
    align-items: center;
    
}

#input-searcher{
    padding-left: 5px;
    height: 35px;
    width: min-content;
    font-size: 16px;
    border: 1px solid #000;
    border-radius: 5px 0px 0px 5px;
}

#submit-searcher{
    width: 33px;
    background-color: #FF9900;
    padding: 2px;
    border-radius: 0px 5px 5px 0px;
}